<div *ngIf="employeeProfile; else defaultProfile">
  <h1>{{employeeProfile.fullName}}</h1>
  <img [src]="employeeProfile.picture" [alt]="employeeProfile.name">
  <div class="d-flex justify-content-around align-items-center mt-2">
    <button class="btn btn-primary" *ngIf="!show" (click)="showSalary()">Show salary</button>
    <span *ngIf="show" class="badge badge-success p-2">{{employeeProfile.salary}}&#36;</span>
  </div>
</div>
<ng-template #defaultProfile>
  <h1><span class="badge badge-secondary">Employee Profile</span></h1>
  <img src="https://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="defaultProfile" width="300">
</ng-template>
