<app-header></app-header>
<!-- search component -->
<div class="container">
    <div class="row">
      <div class="col-lg-6">
          <div class="row">
              <!-- search component -->
              <app-search></app-search>
          </div>
          <div class="row">
            <!-- employees list => employee -->
           <app-empl-list></app-empl-list>
        
        </div>
       
      </div>
      <div class="col-lg-6">
        <div class="row">
            <!-- employees info -->
        
        </div>
        <div class="row">
          <!-- employee profile -->
      
      </div>
      </div>
     
    </div>
  </div>



<app-footer></app-footer>