<div [style.font-size.px]="someValue">
<app-header></app-header>
<div class="container min-vh-100">
    <div class="row justify-content-lg-between">
        <div class="col-lg-8">
            <div class="row">
                <app-search></app-search>
                <app-change-appearance [(counter)]="someValue" class="ml-5"></app-change-appearance>
            </div>
            <div class="row mt-5">
                <app-empl-list class="w-100"></app-empl-list>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <app-empl-info ></app-empl-info>
            </div>
            <div class="row my-4">
                <app-empl-preview></app-empl-preview>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</div>
